.modalHeader {
  border-bottom: 1px solid var(--System-stroke2, #dadce0);
  background: #fff;
  padding: 1rem 1.88rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.ModalFields {
  padding: 1.5rem 1.88rem;
}
.modalHeaderHeading {
  color: var(--text-100, #1c4980);
  text-align: center;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inputFieldsHeading {
  color: var(--text-100, #1c4980);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.assignment_inputfield {
  display: flex;
  padding: 0.9375rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--System-stroke2, #dadce0);
  background: #fff;
  margin-top: 0.62rem;
  outline: none;
}

.inputFields {
  margin-bottom: 1.25rem;
}

.formSubmitbtn {
  display: flex;
  height: 2.5rem;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: var(--Secondary-1, #0073e6);
  width: 100%;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (width <= 600px) {
  .modalHeader {
    padding: 0.5rem 1rem;
  }

  .ModalFields {
    padding: 1rem;
  }
  .modalHeaderHeading {
    font-size: 0.9rem;
  }

  .inputFieldsHeading {
    font-size: 0.85rem;
  }

  .assignment_inputfield {
    padding: 0 0.6rem;
    gap: 0rem;
    margin-top: 0.32rem;
  }

  .inputFields {
    margin-bottom: .5rem;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input, .MuiAutocomplete-hasPopupIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root, .css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input,  .MuiAutocomplete-hasClearIcon.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root,
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0.5rem !important;
  }
}
