@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #f6f8fa !important;
}

/* --------- custom classes ---------- */

.whiteRoundCard {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
}

/* ================== Flexbox Classes ============== */

.flex-aic {
  display: flex;
  align-items: center;
}
.flex-aicjcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-aicjcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-aicjcse {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-aicjcfs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-aifsjcsb {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-aicjccfdc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flexgap1 {
  gap: 1rem;
}
.flexgap2 {
  gap: 2rem;
}
.flexgap3 {
  gap: 3rem;
}
.flexgap4 {
  gap: 4rem;
}

/* ===== mob toggle ====  */

.toggleMob {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  left: 1rem;
  top: 1rem;

  border-radius: 3.75rem;
  background: var(--secondary-5, #f2f8fe);
  z-index: 4;
}

.toggleMobtext {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 4;
  width: 180px;
}
